{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": 37
        }
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": ["@babel/transform-runtime"]
}
