.message {
  border-radius: 10px;

  margin: 2px;

  .text {
    padding: 5px;
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 1em;
    margin-right: 5px;
    padding-bottom: 1px;
    .timestamp {
      font-size: 0.6em;
      opacity: 0.6;
    }
    .status {
    }
  }

  &.incoming {
    background: lightcyan;
    margin-right: 10px;
    left: 0;
    border-bottom-left-radius: 0;
  }

  &.outgoing {
    background: lightgreen;
    margin-left: 10px;
    right: 0;
    border-bottom-right-radius: 0;
  }

  &:focus {
    outline: 2px dashed red;
  }
}

.message-input {
  width: 90%;
  margin: 4pt;
}

img.attachment-icon {
  height: 22px;
  width: 22px;
  transform: rotate(-45deg);
  display: inline-block;
  vertical-align: text-bottom;
}
