.chat-list-item {
    display: flex;
    border-bottom: 1px black solid;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0.5rem;
    align-items: center;

    &:focus {
        background: grey;
    }

    .name {
        flex-grow: 1;
    }

    .meta {
        width: 26px;
        .timestamp {
            font-size: 0.4em;
            overflow: hidden;
            height: 1.5rem;
            text-overflow: ellipsis;
            float: right;
        }
        .status {
            float: right;
        }
    }

    .unread-counter {
        display: inline-block;
        background-color: rgb(40, 119, 184);
        color: white;
        border-radius: 14pt;
        font-size: 10px;
        line-height: 20px;
        height: 20px;
        min-width: 20px;
        text-align: center;
        margin: 2px;
        font-family: monospace;
    }

    $avatar-radius: 2.2rem;

    .avatar {
        border-radius: 40px;
        width: $avatar-radius;
        height: $avatar-radius;
        display: flex;
        border-bottom: 1px black solid;
        justify-content: space-between;

        &>img {
            border-radius: 40px;
            width: $avatar-radius;
            height: $avatar-radius;
        }

        &>span {
            & {
                border-radius: 40px;
                display: inline-block;
                line-height: $avatar-radius;
                width: 100%;
                text-align: center;
                font-family: monospace;
                font-size: 1.3rem;
                font-weight: bold;
                color: white;
            }
        }
    }
}