$kai-software-keys-height: 23px;

.software-keys {
    
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    line-height: 1.20rem;
    height: $kai-software-keys-height;

    button {
        background: none;
        border: none;
        overflow: hidden;
        font-size: 14px;
        &:first-child {
            text-align: left;
            padding-left: 0.5rem;
        }
        &:last-child {
            text-align: right;
            padding-right: 0.5rem;
        }
        &.middle {
            text-align: center;
            font-weight: bold;
            font-size: 19px;
        }
    }

}

.software-keys-spacer {
    height: $kai-software-keys-height;
}

$kai-statusbar-heigth: 0px; // for when we figgure out how to make the statusbar transparent (how does the mail app do this?)
$header-height: 14px;

.header {
    background-color: purple;
    position: fixed;
    width: 100%;
}

.header-label {
    margin-top: $kai-statusbar-heigth;
    height: $header-height;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    padding: 3px;
    font-size: 13px;
}

.header-spacer {
    height: $kai-statusbar-heigth + $header-height;
}