/* G R I D */

.grid-col-1 {
    min-width: 5px;
    max-width: 5px;
}

.grid-col-2 {
    min-width: 10px;
    max-width: 10px;
}

.grid-col-3 {
    min-width: 15px;
    max-width: 15px;
}

.grid-col-4 {
    min-width: 20px;
    max-width: 20px;
}

.grid-col-5 {
    min-width: 25px;
    max-width: 25px;
}

.grid-col-6 {
    min-width: 30px;
    max-width: 30px;
}

.grid-col-7 {
    min-width: 35px;
    max-width: 35px;
}

.grid-col-8 {
    min-width: 40px;
    max-width: 40px;
}

.grid-col-9 {
    min-width: 45px;
    max-width: 45px;
}

.grid-col-10 {
    min-width: 50px;
    max-width: 50px;
}

.grid-col-11 {
    min-width: 110px;
    max-width: 110px;
}

.grid-col-12 {
    min-width: 120px;
    max-width: 120px;
}

.grid-col-13 {
    min-width: 130px;
    max-width: 130px;
}

.grid-col-14 {
    min-width: 140px;
    max-width: 140px;
}

.grid-col-15 {
    min-width: 150px;
    max-width: 150px;
}

.grid-col-16 {
    min-width: 160px;
    max-width: 160px;
}

.grid-col-17 {
    min-width: 170px;
    max-width: 170px;
}

.grid-col-18 {
    min-width: 180px;
    max-width: 180px;
}

.grid-col-19 {
    min-width: 190px;
    max-width: 190px;
}

.grid-col-20 {
    min-width: 200px;
    max-width: 200px;
}

.grid-col-21 {
    min-width: 210px;
    max-width: 210px;
}

.grid-col-22 {
    min-width: 220px;
    max-width: 220px;
}

.grid-col-23 {
    min-width: 230px;
    max-width: 230px;
}

.grid-col-24 {
    min-width: 240px;
    max-width: 240px;
}

.grid-col-25 {
    min-width: 250px;
    max-width: 250px;
}

.grid-col-26 {
    min-width: 260px;
    max-width: 260px;
}

.grid-col-27 {
    min-width: 270px;
    max-width: 270px;
}

.grid-col-28 {
    min-width: 280px;
    max-width: 280px;
}

.grid-col-29 {
    min-width: 290px;
    max-width: 290px;
}

.grid-col-30 {
    min-width: 300px;
    max-width: 300px;
}

.grid-col-31 {
    min-width: 310px;
    max-width: 310px;
}

.grid-col-32 {
    min-width: 320px;
    max-width: 320px;
}

.grid-col-33 {
    min-width: 330px;
    max-width: 330px;
}

.grid-col-34 {
    min-width: 340px;
    max-width: 340px;
}

.grid-col-35 {
    min-width: 350px;
    max-width: 350px;
}

.grid-col-36 {
    min-width: 360px;
    max-width: 360px;
}

.grid-col-37 {
    min-width: 370px;
    max-width: 370px;
}

.grid-col-38 {
    min-width: 380px;
    max-width: 380px;
}

.grid-col-39 {
    min-width: 390px;
    max-width: 390px;
}

.grid-col-40 {
    min-width: 400px;
    max-width: 400px;
}

.grid-col-41 {
    min-width: 410px;
    max-width: 410px;
}

.grid-col-42 {
    min-width: 420px;
    max-width: 420px;
}

.grid-col-43 {
    min-width: 430px;
    max-width: 430px;
}

.grid-col-44 {
    min-width: 440px;
    max-width: 440px;
}

.grid-col-45 {
    min-width: 450px;
    max-width: 450px;
}

.grid-col-46 {
    min-width: 230px;
    max-width: 230px;
}

.grid-col-47 {
    min-width: 235px;
    max-width: 235px;
}

.grid-col-48 {
    min-width: 240px;
    max-width: 240px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-shrink-1 {
    min-width: 50%;
    max-width: 50%;
}

.justify-content-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.justify-content-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.algin-item-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.algin-item-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.align-item-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-content-spacebetween {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.justify-content-spacearound {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.justify-content-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.width-100 {
    min-width: 100vw;
}

.height-100 {
    min-height: 100vh;
}

.width-50 {
    min-width: 50%;
}

.width-30 {
    min-width: 30%;
    max-width: 30%;
}

.center {
    transform: translate(50%, -0%);
}

.col-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
}

.block {
    display: block;
}

[class*='grid-'] {}