/*GENERAL*/

:root {
    --color-one: black;
    --color-two: rgb(236, 207, 234);
    --color-three: silver;
    --color-four: rgb(99, 99, 99);
    --color-five: rgb(38, 38, 38);
    --color-six: rgb(78, 206, 144);
    --color-seven: rgba(78, 206, 144, 0.5);
    --color-eight: white;
}

*,
*:before,
*:after {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

*::-webkit-scrollbar {
    width: 0!important;
    background-color: transparent!Important;
    display: none!Important;
}

html,
body {
    font-weight: 100;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 0.95rem;
    line-height: 1.4rem;
    -webkit-appearance: none;
    min-height: 320px;
    max-height: 320px;
    margin: 0;
}

.debug {
    outline: 2px solid red;
}

div#app {
    height: 320px;
    position: relative;
    overflow: hidden;
}


/*///////////////////////////
///TOAST////////////////*/

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    background: black;
    color: white;
    z-index: 2000;
    min-width: 100%;
    padding: 5px;
}

div#login {
    display: none;
}

div#chat {
    display: none;
}

:focus {
    outline: 0;
}


/*///////////////////////////
///INTRO////////////////*/

div#intro {
    height: 100%;
    width: 100%;
    background: var(--color-two);
    position: fixed;
    z-index: 5;
}


/*///////////////////////////
///CHAT LIST////////////////*/

div#chat-list {
    display: none;
}

div#chat-list ul.user-item {
    background: var(--color-three);
    margin: 0 0 2px 0;
    padding: 5px;
}

div#chat-list ul.user-item:focus {
    background: var(--color-two)!Important;
}


/*///////////////////////////
///CHAT////////////////*/

div#chat {
    position: relative;
    height: 100%;
    display: none;
}

div#chat div#chat-messages {
    overflow: scroll;
    max-height: 320px;
    padding: 0 0 40px 0;
    position: relative;
}

div#chat div#chat-messages div.message div div {
    max-width: 180px;
}

div#chat div#chat-messages div.message div.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div#chat div#chat-messages div.message div.date {
    font-size: 0.5rem;
    background: var(--color-six);
    padding: 2px;
}

div#chat div#chat-messages div.message div.text {
    background: var(--color-six);
    padding: 5px;
}

div#chat div#chat-messages div.message {
    margin: 0 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#chat div#chat-messages div.message.incoming {
    align-items: flex-end;
}

div#chat div#chat-messages div.message.incoming div.inner div {
    background: var(--color-two);
}

div#chat div#chat-messages div.message.outgoing div.inner div {
    background: var(--color-six);
}

div#chat div#chat-messages div.message:focus div.inner div {
    background: var(--color-four);
}

div#chat div#chat-input {
    background: var(--color-three);
    position: fixed;
    padding: 8px;
    bottom: 20px;
    left: 0px;
    z-index: 3;
    height: 60px;
    border-top: 5px solid white;
    display: none;
}

div#chat div#chat-input textarea {
    background: var(--color-eight);
    width: 100%;
    height: 35px;
    padding: 3px;
    outline: 0;
}

div#chat div#chat-attachments div {
    margin: 0 5px 0 0;
}

div#chat div#chat-attachments div img {
    width: 20px;
}

div#chat div#chat-attachments div.inner>div:focus img {
    width: 24px;
}

div#chat div#chat-attachments {
    background: var(--color-three);
    position: fixed;
    z-index: 4;
    bottom: 25px;
    padding: 5px;
    height: 30px;
    width: 100%;
    display: none;
}


/*///////////////////////////
///Buttom-Bar////////////////*/

div#bottom-bar {
    min-height: 30px;
    margin: 0 0 0 0px;
    padding: 0px 8px 0px 8px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background: var(--color-three);
    border-top: 5px solid white;
}

div#bottom-bar div {
    width: 40px;
    margin: 0px 0 0 0;
    text-align: center;
}

div#bottom-bar div img {
    width: 15px;
    margin: 5px 0 0 0;
}


/* KaiOS portrait devices (240x320) */

@media only screen and (orientation: portrait) {
    /* styles */
}


/* KaiOS landscape devices (320x240) */

@media screen and (orientation: landscape) {
    /* styles */
}