@import '_mixins';
@import '../framework/kai_components';
@import 'normalize.css/normalize.css';
@import 'chat_view';
@import 'chat_list';
@import 'about';
@import 'status_icon';
@import 'login_view';

[hidden] {
  display: none !important;
}

/* KaiOS portrait devices (240x320) */
@media only screen and (orientation: portrait) {
  /* styles */
}

/* KaiOS landscape devices (320x240) */
@media screen and (orientation: landscape) {
  /* styles */
}

html {
  // defaults
  --icon-size: 1em;
  font-family: 'Open Sans', 'Noto Sans', 'Openmoji', sans-serif;

  --messageStatusIcon: green;
  --errorColor: red;
}

.icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
}
