/*GENERAL*/

:root {
    --color-one: black;
    --color-two: yellow;
    --color-three: silver;

}

*,
*:before,
*:after {

    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent !important;
    display: none !important;
}


html,
body {

    font-weight: 100;
    width: 100%;
    max-width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1.0rem;
    line-height: 1.4rem;
    -webkit-appearance: none;
    height: 100vh;
    margin: 0;
}



h1 {
    font-size: 1rem;
    font-weight: bold;
}


h2 {
    font-size: 1.0rem;
}


.debug {
    border: 1px solid red;
}


div#wrapper {
    background: silver;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

/*///////////////////////////
///HELPER////////////////*/


div#window-status {
    position: fixed;
    top: 10px;
    left: 5px;
    background: black;
    color: white;
    z-index: 900;
    display: none;

}



/*///////////////////////////
///FINDER////////////////*/

div#finder {
    position: relative;
    background: black;
    padding: 5px;
    color: white;
    height: 100vh;
    width: 100vw;
    display: none;
}


div#finder-error {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -50px;
    width: 92px;
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
    display: none;
}





div#finder li:focus {
    background: yellow;
    color: black;
}



div#finder ul {
    margin: 15px 0 0 0;
}

div#finder form input {
    border: 2px solid black;
    font-size: 1rem;
    max-width: 90%;
    padding: 3px;
}

div#intro {
    background: black;
    color: white;
    display: none;
}

div#main {
    position: relative;
    background: white;
    color: black;
    display: none;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    display: none;
}



div#main form input {
    border: 2px solid black;
    font-size: 1rem;
    max-width: 90%;
    padding: 3px;
}

div#main form {
    padding: 15px 0 15px 0;
}


div#main div#result article {
    margin: 0 0 15px 0;
    padding: 0 3px 0 3px;
    max-width: 100%;
}

div#main div#result article#noresults {
    text-align: center;
}


div#main div#result {
    padding: 0 0px 0px 0px;
    max-width: 100%;
}

div#main div#result article:focus {
    background: silver;
}

div#main div#result article:last-child {
    padding: 0 0 30px 0;
}

div#main div#article-page {
    max-width: 100%;
}

div#main div#article-page article {
    margin: 0 0 15px 0;
    padding: 0 3px 0 3px;
    max-width: 100%;
}

div#main div#bottom-bar {
    position: fixed;
    top: 90vh;
    background: black;
    color: white;
    min-width: 100%;
    padding: 3px 3px 5px 3px;
    min-height: 30px;
}

div#main div#bottom-bar div#button-left {
    max-height: 10px !important;
    font-size: 0.9rem;

}

div#message-box {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 0px;
    padding: 5px;
    min-width: 100vw;
    height: auto;
    background: pink;
    color: black;
    z-index: 2000;
}


.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* KaiOS portrait devices (240x320) */
@media only screen and (orientation : portrait) {
    /* styles */
}

/* KaiOS landscape devices (320x240) */
@media screen and (orientation: landscape) {
    /* styles */
}
